body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.users {
  border: 1px solid #000;
  margin-bottom: 1rem;
  width: 15rem;
  text-align: center;
}

.users:first-child {
  margin-top: 1rem;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(252, 226, 226);
  margin-bottom: 1rem;
}
