fieldset {
    background-color: #444;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border: 3px solid #000;
}
body {
    background-color: #aaa;
    margin: 10px 50px;
    font-size: 18px;
}

button {
    height: 40px;
    border-radius: 6px;
    border: 1px solid #aaa;
    background-color: #777;
    margin-right: 50px;
    border: 1px solid #fff;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
}
button:hover {
    border: 2px solid #000;
}
input {
    height: 20px;
}
.radio {
    margin-left: 15px;
}
